@model Web_Portal.Models.Company

@{
    ViewData["Title"] = "Şirket Güncelle";
}
<link rel="stylesheet" href="~/css/company-edit-form.css" asp-append-version="true" />

<div class="company-edit-container">
    <h2>Şirketi Güncelle</h2>

    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="Company_ID" />

        <div class="form-group">
            <label>Şirket Adı</label>
            <input asp-for="company_name" class="form-control" required />
        </div>

        <div class="form-group">
            <label>Adres</label>
            <input asp-for="address" class="form-control" required />
        </div>

        <div class="btn-group">
            <button type="submit" class="btn btn-save">GÜNCELLE</button>
            <a href="@Url.Action("Index", "Company")" class="btn btn-cancel">İPTAL</a>
        </div>
    </form>
</div>
